.logo {
	up-skin: Embed(source="/assets/icons/ohloh_logo.png");
	disabled-skin: Embed(source="/assets/icons/ohloh_logo.png");
	over-skin: Embed(source="/assets/icons/ohloh_logo.png");
	down-skin: Embed(source="/assets/icons/ohloh_logo.png");
	selected-skin: Embed(source="/assets/icons/ohloh_logo.png");	
}

.h1 {
	font-size: 30;
	font-weight: bold;
	color: #000;
}
.em {
	font-size: 9;
	color: #888;	
}
.headerA {
	color: #555;	
}
.headerNav {
	color: #fff;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;	
}
.entryTitle {
	font-size: 16;
}
.entryAuthor {
	font-size: 20;
}
.entryTags {
	background-color: #fff;
	background-disabled-color: #fff;
	padding-bottom: 0;
	padding-top: 0
}
FormItem {
	vertical-gap: 0;
}

LinkButton.nav
{
	color: #ffffff;
	selectionColor:#aaaaaa;
	disabledColor:#ffffff;
	textRollOverColor: 000;
	textSelectedColor:000;
	textDisabledColor: #1e1e1e;
	fontWeight: "normal";
	separatorColor: #808080;
}

.stack {
	background-color: #3e3e3e;
	border-color: #000;
	border-style: solid;
	border-thickness: 1;
}

.stackItem {
	background-color: #3e3e3e;
	padding-top: 10;
}

.list {
	fontSize: 11;
	backgroundColor: #cccccc;
	color: #333333;
}
.simple {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.resizeButton {
	up-skin: Embed(source="/assets/icons/resizeHandler.png");
	disabled-skin: Embed(source="/assets/icons/resizeHandler.png");
	down-skin: Embed(source="/assets/icons/resizeCursor.png");
	selected-skin: Embed(source="/assets/icons/resizeCursor.png");
}
.plain {
	theme-color: #000000;
	color: #ffffff;
	background-alpha: 0;
	border-alpha: 0;
	border-thickness: 0;	
}