WindowedApplication {
	background-gradient-colors:#999, #ccc;
}
.h1 {
	font-size: 30;
	font-weight: bold;
	color: #000;
}
.em {
	font-size: 10;
	color: #336699;	
}
.headerA {
	color: #555;	
}
.entryTitle {
	font-size: 16;
}
.entryAuthor {
	font-size: 20;
}
.entryTags {
	background-color: #fff;
	background-disabled-color: #fff;
	padding-bottom: 0;
	padding-top: 0
}